/* :root {
  --background-primary: #f8f5eb;
  --background-footer-primary: #1e1e31;
  --background-footer-secondary: #292839;
  --text-primary: #2f3149;
  --text-secondary: #b3b3b3;
  --text-footer: #f8f5eb;
  --text-hover-and-contrast: #eb2227;
  --form-footer: #4b4b5a;
  --yellow-on-dark: #ecaa39;
  --blue-on-dark: #2ebec7;
} */

html {
  box-sizing: border-box;
  height: 100%; /* sticky footer */
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  background: #f5f4fa;
}

img {
  display: block; /* margin-bottom disappears */
  max-width: 100%; /* width isn't larger then parent */
  height: auto; /* correct scaling */
}

.page {
  overflow: hidden;
  display: flex; /* sticky footer */
  flex-direction: column; /* sticky footer */
  min-height: 100vh; /* sticky footer */
  /* background-color: tan; */
}

.header,
.footer {
  height: 80px;
  background-color: #999;
  color: #efefef;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  margin-top: auto; /* sticky footer */
}

.content {
  /* background-color: #ababed; */
  /* max-width: 800px; */
  margin: 0 auto;
}

/*-----------------------------*/

.deadline--card {
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 20px;
  border-radius: 2px;
  background-color: #ffffff;
  /* background-color: plum; */
  box-shadow: 0 3px 14px rgb(0 0 0 / 40%);
}

.form-container {
  margin: 0;
}

.deadline--header {
  font-family: 'Roboto Mono', monospace;
  margin-bottom: 20px;
}

.deadline--heading {
  font-weight: 600;
  margin-bottom: 10px;
}

.timer {
  font-family: 'Roboto Mono', monospace;
  justify-content: center;
  display: flex;
  margin-bottom: 12px;
}

.field {
  padding: 0 15px 10px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 4px;
  /*
  position: relative;
  padding-right: 10px;
  */
  min-width: 118px;
}

.time-line {
  display: flex;
  align-items: center;
  height: 4px;
}

.time-passed {
  display: inline-block;
  height: 50%;
  background-color: #ccc;
}

.time-rest {
  display: inline-block;
  height: 100%;
  background-color: #bbb;
}


/* .field::after {
  content: '';
  background-color: #000;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
} */

.value {
  font-size: 80px;
  color: #212121;
}
.field:not(:last-child) {
  margin-right: 20px;
}

.label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #888;
}

@media screen and (max-width: 480px) {
  .value {
    font-size: 40px;
  }
  .field {
    padding: 0 7px 5px;
    border-radius: 2px;
  }
  .field:not(:last-child) {
    margin-right: 10px;
  }
  .label {
    font-size: 11px;
  }
}

#datepicker,
#timepicker {
  text-align: center;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #efefef;
}

#datepicker:hover,
#datepicker:focus,
#timepicker:hover,
#timepicker:focus,
#setDeadlineBtn:hover,
#setDeadlineBtn:focus,
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #ddd;
}

#setDeadlineBtn {
  width: 107px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.deleteBtn {
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
