/* :root {
  --background-primary: #f8f5eb;
  --background-footer-primary: #1e1e31;
  --background-footer-secondary: #292839;
  --text-primary: #2f3149;
  --text-secondary: #b3b3b3;
  --text-footer: #f8f5eb;
  --text-hover-and-contrast: #eb2227;
  --form-footer: #4b4b5a;
  --yellow-on-dark: #ecaa39;
  --blue-on-dark: #2ebec7;
} */

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  outline: none;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  background: #f5f4fa;
}

img {
  display: block; /* margin-bottom disappears */
  max-width: 100%; /* width isn't larger then parent */
  height: auto; /* correct scaling */
}

.list {
  margin: 0;
  padding: 0;
}

.container {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 0 20px;
  border-radius: 4px;
  background-color: #ffffff;
  /* background-color: plum; */
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* 
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
*/

/* 
font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
*/

.form-container {
  margin: 20px 0;
}

.header {
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
}

.timer {
  margin-top: 20px;
  font-family: 'Roboto Mono', monospace;
  text-align: center;
  display: flex;
}

.field {
  padding: 0 15px 10px;
  display: flex;
  flex-direction: column;
  background-color: #ddd;
  border-radius: 4px;
  /*
  position: relative;
  padding-right: 10px;
  */
}

/* .field::after {
  content: '';
  background-color: #000;
  width: 1px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  opacity: 0.2;
} */

.value {
  font-size: 80px;
  color: #212121;
}
.field:not(:last-child) {
  margin-right: 20px;
}

.label {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #888888;
}

@media screen and (max-width: 480px) {
  .value {
    font-size: 40px;
  }
  .field {
    padding: 0 7px 5px;
    border-radius: 2px;
  }
  .field:not(:last-child) {
    margin-right: 10px;
  }
  .label {
    font-size: 11px;
  }
}

#datepicker,
#timepicker {
  text-align: center;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 2px;
  background-color: #efefef;
}

#datepicker:hover,
#datepicker:focus,
#timepicker:hover,
#timepicker:focus,
#setDeadlineBtn:hover,
#setDeadlineBtn:focus,
.deleteBtn:hover,
.deleteBtn:focus {
  background-color: #ddd;
}

#setDeadlineBtn {
  width: 107px;
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 2px;
}

.deleteBtn {
  height: 22px;
  border: 1px solid #ddd;
  border-radius: 2px;
}
